# Virtual environments
.venv/
venv/
env/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
eggs/
sdist/
wheels/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# C extensions
*.so

# Cython
*.c
*.cpp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pyenv
.python-version

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# coverage
htmlcov/
.coverage
.coverage.*
coverage.xml

# Environments
*.env
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
